.myBar{
    height: 60px !important;
    background-color: #583A39 !important;
}

.navMenu{
    display: none;
}
.navMenu1{
    display: none;
}
/* .dlogo{
    width: 150px !important;
} */

.d_Header{
    justify-content: space-between !important;
}
.d_Header > img{
width: 150px;
}
.css-1y7nk27-MuiInputBase-input-MuiOutlinedInput-input{
    background-color: #fff !important;
}
.searchMain{
    background: #fff !important;
}   
@media screen and (max-width: 770px) {
    .navMenu{
        display: block;
    }   
  }
  @media screen and (max-width: 370px) {
    .navMenu1{
        display: block;
    }   
  }