.myBar{
    height: 60px !important;
    background-color: #583A39 !important;
}
.css-3v9zut{
    min-height: 0px !important;
}
.css-ttn1xo{
    padding: 0px !important;
    width: 0px !important;
}
.navMenu{
    display: none;
}
.navMenu1{
    display: none;
}
.myTool{
    justify-content: space-between !important;
}
.d_Header{
    justify-content: space-around !important;
    min-height: 80px !important;
    width: 100%;
}
.d_Header > img{
width: 150px;
}
.sideBtn{
    color: #583A39 !important;
}
.sideBtn :hover{
    background-color: #bcaaa4 !important;
}
.searchMain{
    background: #fff !important;
    width: 60%;
    flex:0.95;
    display: flex;
}  
.searchD{
display: none;
} 
@media screen and (max-width: 770px) {
    .navMenu{
        display: block;
    }   
  }
  @media screen and (max-width: 380px) {
    .navMenu1{
        display: block;
    }   
    .searchD{
        display: flex;
        }
        .searchMain{
          display: none;
        }  
        .myTool{
            justify-content: flex-start !important;
        }
  }