.box{
    width: 100%;
    height: 100px;
    background-color: rgb(114, 13, 114) !important;
    color: white !important;
    text-decoration: none;
    text-align: center;

}
.mt-20{
    margin-top: 20px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.box > h4{
    margin: 25px auto;
}
.orders{
    display: flex !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    width: 300px !important;
    padding: 0px !important;
}
.modal_Inputs{
    width: 80%;
    margin: 0 auto;
}
.modalFooter > button{
    margin-left: 20px;

}