.navBar{
    /* background-color: #d7ccc8; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.txt_white{
    color: #fff !important;
}
.logo{
    width: 200px;
    margin-left: 20px !important;
}
.mr-100{
    margin-right: 250px;
    display: flex;
}
.my_menu{
    display: flex;
}
.content_Body{
    width: 100%;
}
.img{
    width: 100%;
}
.myNavBar{
    /* text-align: center; */
    display: none;
}
.menuItem{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #5d4037 !important;
    font-weight: 500 !important; 
}
.menuItem:hover{
    color: #bcaaa4 !important;
}
.menuItem1{
    text-align: center;
    display: block;
    font-weight: 500 !important;
    color: #5d4037 !important;
    text-decoration: none;
    padding: 8px;
    border: none;
}
.menuItem1:hover{
    color: #bcaaa4 !important;
}
@media screen and (max-width: 770px) {
    .menuItem{
        display: none;
    }   
  }
  @media screen and (max-width: 370px) {
    .menuItem1{
        display: none;
    }   
  }